{"openapi":"3.1.0","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://api-v2.upstox.com"}],"tags":[{"name":"Login"},{"name":"User"},{"name":"Portfolio"},{"name":"Order"},{"name":"Pre Risk Checks"},{"name":"Market Quote"},{"name":"Market Quote V3"},{"name":"Market Holidays and Timings"},{"name":"Options"},{"name":"Trade Profit And Loss"},{"name":"History"},{"name":"History V3"},{"name":"History V3","description":"Historical Candle Data V3"},{"name":"Charge"},{"name":"Websocket"},{"name":"Post Trade"},{"name":"Expired Instrument"},{"name":"Instruments"},{"name":"News"},{"name":"Mutual Fund"},{"name":"Fundamentals"},{"name":"IPO"},{"name":"PAYMENTS"},{"name":"Events"}],"paths":{"/v3/order/modify":{"put":{"tags":["Order"],"operationId":"modifyOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModifyOrderRequest"}}},"required":true},"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ModifyOrderV3Response"}}}}},"security":[{"OAUTH2":[]}]}},"/v3/order/gtt/modify":{"put":{"tags":["Order"],"summary":"Modify GTT order","description":"This API allows you to modify GTT orders.","operationId":"modifyGTTOrder","parameters":[{"name":"Origin","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GttModifyOrderRequest"}}},"required":true},"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GttTriggerOrderResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/user/payments/payout/{transaction_id}":{"put":{"tags":["PAYMENTS"],"operationId":"modifyPayout","parameters":[{"name":"transaction_id","in":"path","description":"Payout transaction id","required":true,"schema":{"type":"string"},"example":"imps_0426_7654321"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModifyPayoutRequest"}}},"required":true},"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PayoutDetailsResponse"}}}}},"security":[{"OAUTH2":[]}]},"delete":{"tags":["PAYMENTS"],"operationId":"cancelPayout","parameters":[{"name":"transaction_id","in":"path","description":"Payout transaction id","required":true,"schema":{"type":"string"},"example":"imps_0426_7654321"}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PayoutDetailsResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/user/ip":{"get":{"tags":["User"],"operationId":"getUserIps","responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserIpResponse"}}}}},"security":[{"OAUTH2":[]}]},"put":{"tags":["User"],"operationId":"updateUserIp","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateUserIpRequest"}}},"required":true},"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserIpResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/portfolio/convert-position":{"put":{"tags":["Portfolio"],"summary":"Convert Positions","description":"Convert the margin product of an open position","operationId":"convertPositions","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConvertPositionRequest"}}},"required":true},"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConvertPositionResponse"}}}},"401":{"description":"Authorization Failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/order/modify":{"put":{"tags":["Order"],"summary":"Modify order","description":"This API allows you to modify an order. For modification orderId is mandatory. With orderId you need to send the optional parameter which needs to be modified. In case the optional parameters aren't sent, the default will be considered from the original order","operationId":"modifyOrder_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModifyOrderRequest"}}},"required":true},"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"UDAPI100010 - Unknown order id | order request rejected","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModifyOrderResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v3/order/place":{"post":{"tags":["Order"],"operationId":"placeOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlaceOrderV3Request"}}},"required":true},"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PlaceOrderV3Response"}}}}},"security":[{"OAUTH2":[]}]}},"/v3/order/gtt/place":{"post":{"tags":["Order"],"summary":"Place GTT order","description":"This API allows you to place GTT orders.","operationId":"placeGTTOrder","parameters":[{"name":"Origin","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GttPlaceOrderRequest"}}},"required":true},"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GttTriggerOrderResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v3/login/auth/token/request/{client_id}":{"post":{"tags":["Login"],"summary":"Init token API","description":"This API provides the initialize the generate token and it's expiry for an indie user","operationId":"initTokenRequestForIndieUser","parameters":[{"name":"client_id","in":"path","required":true,"schema":{"type":"string","minLength":1}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IndieUserTokenRequest"}}},"required":true},"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"UDAPI1017 - API Key is required <br/>UDAPI1024 - App Secret is required <br/>","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}}}}},"/v2/user/payments/payout":{"get":{"tags":["PAYMENTS"],"operationId":"getPayoutHistory","responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentHistoryResponse"}}}}},"security":[{"OAUTH2":[]}]},"post":{"tags":["PAYMENTS"],"operationId":"initiatePayout","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InitiatePayoutRequest"}}},"required":true},"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PayoutDetailsResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/user/kill-switch":{"get":{"tags":["User"],"summary":"Get kill switch status","description":"Returns the disable/enable status of all trading segments for the user.","operationId":"getKillSwitch","responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"UDAPI1181 - The specified segment does not exist.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KillSwitchResponse"}}}}},"security":[{"OAUTH2":[]}]},"post":{"tags":["User"],"summary":"Update kill switch","description":"Enable or disable specific trading segments.","operationId":"updateKillSwitch","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/KillSwitchSegmentUpdateRequest"}}}},"required":true},"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"UDAPI1184 - Segment status cannot be changed until all open positions are closed.\nUDAPI1185 - Cannot enable segment - cooling period is still in effect.\nUDAPI1186 - The specified segment does not exist.\nUDAPI1187 - Failed to update segment status due to an error processing open orders.\nUDAPI1188 - Invalid action. Allowed values are ENABLE and DISABLE.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/KillSwitchResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/order/positions/exit":{"post":{"tags":["Order"],"summary":"Exit all positions","description":"This API provides the functionality to exit all the positions ","operationId":"exitPositions","parameters":[{"name":"tag","in":"query","description":"The tag associated with the positions for which the positions must be exit","required":false,"schema":{"type":"string"}},{"name":"segment","in":"query","description":"The segment for which the positions must be exit","required":false,"schema":{"type":"string"}}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"UDAPI1105 - Invalid segment. <br>UDAPI1108 - No open position available to exit.<br>UDAPI1109 - Available open positions should not be more than limit.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelOrExitMultiOrderResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/order/place":{"post":{"tags":["Order"],"summary":"Place order","description":"This API allows you to place an order to the exchange via Upstox.","operationId":"placeOrder_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlaceOrderRequest"}}},"required":true},"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PlaceOrderResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/order/multi/place":{"post":{"tags":["Order"],"summary":"Place multi order","description":"This API allows you to place multiple orders to the exchange via Upstox.","operationId":"placeMultiOrder","parameters":[{"name":"Origin","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MultiOrderRequest"}}}},"required":true},"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MultiOrderResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/login/authorization/token":{"post":{"tags":["Login"],"summary":"Get token API","description":"This API provides the functionality to obtain opaque token from authorization_code exchange and also provides the user’s profile in the same response.","operationId":"token","requestBody":{"content":{"application/x-www-form-urlencoded":{"schema":{"$ref":"#/components/schemas/TokenRequest"}}},"required":true},"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"UDAPI1017 - API Key is required <br/>UDAPI1018 - Redirect URI is required <br/>UDAPI1022 - Code is required <br/>UDAPI1023 - Grant type is required <br/>UDAPI1024 - App Secret is required <br/>","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}},"401":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}}}}},"/v2/ipos/orders":{"get":{"tags":["IPO"],"summary":"Get IPO Orders","description":"Fetches the authenticated user's IPO orders/applications.","operationId":"getIpoOrders","parameters":[{"name":"page_number","in":"query","description":"Page number, starting at 1","required":false,"schema":{"type":"string","example":1,"minimum":1}},{"name":"records","in":"query","description":"Number of records per page","required":false,"schema":{"type":"string","example":10,"maximum":30,"minimum":1}}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Invalid pagination parameters.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IpoOrderResponse"}}}},"401":{"description":"Authorization Failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}}},"security":[{"OAUTH2":[]}]},"post":{"tags":["IPO"],"summary":"Apply for IPO","description":"Places an IPO application for the authenticated user.","operationId":"applyForIpo","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IpoApplyRequest"}}},"required":true},"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Invalid request payload.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IpoApplyResponse"}}}},"404":{"description":"IPO not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"401":{"description":"Authorization Failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/events":{"post":{"tags":["events-controller-v-2"],"operationId":"publishEvent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EventRequest"}}},"required":true},"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EventResponse"}}}}}}},"/v2/charges/margin":{"post":{"tags":["Charge"],"summary":"Calculate Margin","description":"Compute Margin","operationId":"postMargin","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MarginRequest"}}},"required":true},"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"UDAPI1095 - The price must be greater than zero<br>UDAPI1096 - Quantity cannot be less than or equal to zero<br>UDAPI1097 - The quantity is required<br>UDAPI1098 - The instrument_token is of invalid format<br>UDAPI1099 - The instrument key is required<br>UDAPI1100 - The product is required<br>UDAPI1101 - The transaction_type is required<br>UDAPI1102 - The instrument limit has been exceeded<br>UDAPI1103 - Instrument key cannot be duplicated<br>UDAPI1104 - Quantity should be multiple of lot size","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostMarginResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v3/user/get-funds-and-margin":{"get":{"tags":["User"],"summary":"Get User Fund And Margin","description":"Shows the detailed balance breakdown of the user including cash, pledged margin, available-to-trade, and unavailable-to-trade components.","operationId":"getUserFundMarginV3","responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetUserFundMarginV3Response"}}}}},"security":[{"OAUTH2":[]}]}},"/v3/portfolio/mtf-positions":{"get":{"tags":["Portfolio"],"summary":"Get MTF positions","description":"This API allows you to get MTF positions.","operationId":"getMtfPositions","responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPositionResponse"}}}},"401":{"description":"Authorization Failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v3/order/gtt":{"get":{"tags":["Order"],"summary":"Get GTT order details","description":"GTT_ORDER_DESCRIPTION","operationId":"getGttOrderDetails","parameters":[{"name":"gtt_order_id","in":"query","description":"Unique identifier of the GTT order for which the order history is required","required":false,"schema":{"type":"string","pattern":"^GTT-.+$"},"example":"GTT-XX221130000253265"}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetGttOrderResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v3/market-quote/option-greek":{"get":{"tags":["Market Quote V3"],"summary":"Market quotes and instruments - Option Greek","description":"This API provides the functionality to retrieve the Option Greek data for one or more instruments.This API returns the Option Greek data of up to 500 instruments in one go.","operationId":"getMarketQuoteOptionGreek","parameters":[{"name":"instrument_key","in":"query","description":"Comma separated list of instrument keys","required":false,"schema":{"type":"string"},"example":"NSE_EQ|INE848E01016,NSE_EQ|INE009A01021"}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"UDAPI1009 - symbol is required<br>UDAPI1011 - symbol is of invalid format<br>UDAPI100011 - Invalid Instrument key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetMarketQuoteOptionGreekResponseV3"}}}}},"security":[{"OAUTH2":[]}]}},"/v3/market-quote/ohlc":{"get":{"tags":["Market Quote V3"],"summary":"Market quotes and instruments - OHLC quotes","description":"This API provides the functionality to retrieve the OHLC quotes for one or more instruments.This API returns the OHLC snapshots of up to 500 instruments in one go.","operationId":"getMarketQuoteOHLCV3","parameters":[{"name":"instrument_key","in":"query","description":"Comma separated list of instrument keys","required":false,"schema":{"type":"string"},"example":"NSE_EQ|INE848E01016,NSE_EQ|INE009A01021"},{"name":"interval","in":"query","description":"Interval to get ohlc data","required":true,"schema":{"type":"string","minLength":1,"pattern":"^(1d|I1|I30)$"},"example":"1d"}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"UDAPI1009 - symbol is required<br>UDAPI1011 - symbol is of invalid format<br>UDAPI1027 - interval is required<br>UDAPI1028 - Invalid interval<br>UDAPI100011 - Invalid Instrument key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetMarketQuoteOHLCResponseV3"}}}}},"security":[{"OAUTH2":[]}]}},"/v3/market-quote/ltp":{"get":{"tags":["Market Quote V3"],"summary":"Market quotes and instruments - LTP quotes.","description":"This API provides the functionality to retrieve the LTP quotes for one or more instruments.This API returns the LTPs of up to 500 instruments in one go.","operationId":"getLtp","parameters":[{"name":"instrument_key","in":"query","description":"Comma separated list of instrument keys","required":false,"schema":{"type":"string"},"example":"NSE_EQ|INE848E01016,NSE_EQ|INE009A01021"}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"UDAPI1009 - symbol is required<br>UDAPI1011 - symbol is of invalid format<br>UDAPI100011 - Invalid Instrument key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetMarketQuoteLastTradedPriceResponseV3"}}}}},"security":[{"OAUTH2":[]}]}},"/v3/historical-candle/{instrumentKey}/{unit}/{interval}/{to_date}":{"get":{"tags":["History V3"],"summary":"Historical candle data","description":"Get OHLC values for all instruments for the present trading day with expanded interval options.","operationId":"getHistoricalCandleData","parameters":[{"name":"instrumentKey","in":"path","required":true,"schema":{"type":"string","pattern":"^(?:NSE_EQ|NSE_FO|NCD_FO|BSE_EQ|BSE_FO|BCD_FO|MCX_FO|NSE_INDEX|BSE_INDEX|MCX_INDEX|NSE_COM|GLOBAL_INDEX|GLOBAL_INDICATOR)\\|[\\w ^]+(,(?:NSE_EQ|NSE_FO|NCD_FO|BSE_EQ|BSE_FO|BCD_FO|MCX_FO|NSE_INDEX|BSE_INDEX|MCX_INDEX|NSE_COM|GLOBAL_INDEX|GLOBAL_INDICATOR)\\|[\\w ^]+)*?$"}},{"name":"unit","in":"path","required":true,"schema":{"type":"string","pattern":"^(minutes|hours|days|weeks|months)$"}},{"name":"interval","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"to_date","in":"path","required":true,"schema":{"type":"string","pattern":"^(\\d{4})-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])$"}}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"UDAPI1015 - to_date must be greater than or equal to from_date and Date should be in valid format: yyyy-mm-dd<br>UDAPI1021 - Instrument key is of invalid format<br>UDAPI1022 - to_date is required<br>UDAPI1146 - Invalid unit<br>UDAPI1147 - Invalid interval<br>UDAPI100011 - Invalid Instrument key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetHistoricalCandleResponse"}}}}}}},"/v3/historical-candle/{instrumentKey}/{unit}/{interval}/{to_date}/{from_date}":{"get":{"tags":["History V3"],"summary":"Historical candle data","description":"Get OHLC values for all instruments for the present trading day with expanded interval options","operationId":"getHistoricalCandleData_1","parameters":[{"name":"instrumentKey","in":"path","required":true,"schema":{"type":"string","pattern":"^(?:NSE_EQ|NSE_FO|NCD_FO|BSE_EQ|BSE_FO|BCD_FO|MCX_FO|NSE_INDEX|BSE_INDEX|MCX_INDEX|NSE_COM|GLOBAL_INDEX|GLOBAL_INDICATOR)\\|[\\w ^]+(,(?:NSE_EQ|NSE_FO|NCD_FO|BSE_EQ|BSE_FO|BCD_FO|MCX_FO|NSE_INDEX|BSE_INDEX|MCX_INDEX|NSE_COM|GLOBAL_INDEX|GLOBAL_INDICATOR)\\|[\\w ^]+)*?$"}},{"name":"unit","in":"path","required":true,"schema":{"type":"string","pattern":"^(minutes|hours|days|weeks|months)$"}},{"name":"interval","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"to_date","in":"path","required":true,"schema":{"type":"string","pattern":"^(\\d{4})-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])$"}},{"name":"from_date","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"UDAPI1015 - to_date must be greater than or equal to from_date and Date should be in valid format: yyyy-mm-dd<br>UDAPI1021 - Instrument key is of invalid format<br>UDAPI1022 - to_date is required<br>UDAPI1146 - Invalid unit<br>UDAPI1147 - Invalid interval<br>UDAPI1148 - Invalid date range<br>UDAPI100011 - Invalid Instrument key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetHistoricalCandleResponse"}}}}}}},"/v3/historical-candle/intraday/{instrumentKey}/{unit}/{interval}":{"get":{"tags":["History V3"],"summary":"Intra day candle data","description":"Get OHLC values for all instruments for the present trading day","operationId":"getIntraDayCandleData","parameters":[{"name":"instrumentKey","in":"path","required":true,"schema":{"type":"string","pattern":"^(?:NSE_EQ|NSE_FO|NCD_FO|BSE_EQ|BSE_FO|BCD_FO|MCX_FO|NSE_INDEX|BSE_INDEX|MCX_INDEX|NSE_COM|GLOBAL_INDEX|GLOBAL_INDICATOR)\\|[\\w ^]+(,(?:NSE_EQ|NSE_FO|NCD_FO|BSE_EQ|BSE_FO|BCD_FO|MCX_FO|NSE_INDEX|BSE_INDEX|MCX_INDEX|NSE_COM|GLOBAL_INDEX|GLOBAL_INDICATOR)\\|[\\w ^]+)*?$"}},{"name":"unit","in":"path","required":true,"schema":{"type":"string","pattern":"^(minutes|hours|days)$"}},{"name":"interval","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"UDAPI1021 - Instrument key is of invalid format<br>UDAPI1146 - Invalid unit<br>UDAPI1147 - Invalid interval<br>UDAPI100011 - Invalid Instrument key","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetIntraDayCandleResponse"}}}}}}},"/v2/user/profile":{"get":{"tags":["User"],"summary":"Get profile","description":"This API allows to fetch the complete information of the user who is logged in including the products, order types and exchanges enabled for the user","operationId":"getProfile","responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetProfileResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/user/payments/payout/modes":{"get":{"tags":["PAYMENTS"],"operationId":"getPayoutModes","responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PayoutModesResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/user/payments/payin":{"get":{"tags":["PAYMENTS"],"operationId":"getPayinHistory","responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentHistoryResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/user/get-funds-and-margin":{"get":{"tags":["User"],"summary":"Get User Fund And Margin","description":"Shows the balance of the user in equity and commodity market.","operationId":"getUserFundMargin","parameters":[{"name":"segment","in":"query","required":false,"schema":{"type":"string","enum":["SEC","COM"]}}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"UDAPI1019 - segment is invalid","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetUserFundMarginResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/trade/profit-loss/metadata":{"get":{"tags":["Trade Profit And Loss"],"summary":"Get profit and loss meta data on trades","description":"This API gives the data of the realised Profit and Loss report requested by a user","operationId":"getTradeWiseProfitAndLossMetaData","parameters":[{"name":"from_date","in":"query","description":"Date from which data needs to be fetched. from_date and to_date should fall under the same financial year as mentioned in financial_year attribute. Date in dd-mm-yyyy format","required":false,"schema":{"type":"string"},"example":"01-04-2022"},{"name":"to_date","in":"query","description":"Date till which data needs to be fetched. from_date and to_date should fall under the same financial year as mentioned in financial_year attribute. Date in dd-mm-yyyy format","required":false,"schema":{"type":"string"},"example":"31-03-2023"},{"name":"segment","in":"query","description":"Segment for which data is requested can be from the following options EQ - Equity,   FO - Futures and Options,   COM  - Commodity,   CD - Currency Derivatives","required":true,"schema":{"type":"string"},"example":"EQ"},{"name":"financial_year","in":"query","description":"Financial year for which data has been requested. Concatenation of last 2 digits of from year and to year Sample:for 2021-2022, financial_year will be 2122","required":true,"schema":{"type":"string","pattern":"^(0|[1-9][0-9]*)$"},"example":2223}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"UDAPI1070 - The financial_year is required<br>UDAPI1067 - The ''segment'' is required<br>UDAPI1066 - The ''segment'' is invalid<br>UDAPI1073 - Financial year should have max length of 4<br>UDAPI1068 - The start_date is required<br>UDAPI1069 - The end_date is required<br>UDAPI1105 - The provided dates do not fall within the specified financial year","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetTradeWiseProfitAndLossMetaDataResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/trade/profit-loss/data":{"get":{"tags":["Trade Profit And Loss"],"summary":"Get Trade-wise Profit and Loss Report Data","description":"This API gives the data of the realised Profit and Loss report requested by a user","operationId":"getTradeWiseProfitAndLossData","parameters":[{"name":"from_date","in":"query","description":"Date from which data needs to be fetched. from_date and to_date should fall under the same financial year as mentioned in financial_year attribute. Date in dd-mm-yyyy format","required":false,"schema":{"type":"string"},"example":"01-04-2022"},{"name":"to_date","in":"query","description":"Date till which data needs to be fetched. from_date and to_date should fall under the same financial year as mentioned in financial_year attribute. Date in dd-mm-yyyy format","required":false,"schema":{"type":"string"},"example":"31-03-2023"},{"name":"segment","in":"query","description":"Segment for which data is requested can be from the following options EQ - Equity,   FO - Futures and Options,   COM  - Commodity,   CD - Currency Derivatives","required":true,"schema":{"type":"string"},"example":"EQ"},{"name":"financial_year","in":"query","description":"Financial year for which data has been requested. Concatenation of last 2 digits of from year and to year Sample:for 2021-2022, financial_year will be 2122","required":true,"schema":{"type":"string","pattern":"^(0|[1-9][0-9]*)$"},"example":2223},{"name":"page_number","in":"query","description":"Page Number, the pages are starting from 1","required":true,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"page_size","in":"query","description":"Page size for pagination. The maximum page size value is obtained from P and L report metadata API.","required":true,"schema":{"type":"integer","format":"int32","maximum":5000,"minimum":1},"example":3000}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"UDAPI1070 - The financial_year is required<br>UDAPI1071 - The page_number is required<br>UDAPI1072 - The page_size is required<br>UDAPI1067 - The ''segment'' is required<br>UDAPI1066 - The ''segment'' is invalid<br>UDAPI1073 - Financial year should have max length of 4<br>UDAPI1106 - The page_size should be greater than or equal to 1<br>UDAPI1107 - The page_size should be less than or equal to 5000>br>UDAPI1105 - The given dates are not in the mentioned financial year","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetTradeWiseProfitAndLossDataResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/trade/profit-loss/charges":{"get":{"tags":["Trade Profit And Loss"],"summary":"Get profit and loss on trades","description":"This API gives the charges incurred by users for their trades","operationId":"getProfitAndLossCharges","parameters":[{"name":"from_date","in":"query","description":"Date from which data needs to be fetched. from_date and to_date should fall under the same financial year as mentioned in financial_year attribute. Date in dd-mm-yyyy format","required":false,"schema":{"type":"string"},"example":"01-04-2022"},{"name":"to_date","in":"query","description":"Date till which data needs to be fetched. from_date and to_date should fall under the same financial year as mentioned in financial_year attribute. Date in dd-mm-yyyy format","required":false,"schema":{"type":"string"},"example":"31-03-2023"},{"name":"segment","in":"query","description":"Segment for which data is requested can be from the following options EQ - Equity,   FO - Futures and Options,   COM  - Commodity,   CD - Currency Derivatives","required":true,"schema":{"type":"string"},"example":"EQ"},{"name":"financial_year","in":"query","description":"Financial year for which data has been requested. Concatenation of last 2 digits of from year and to year Sample:for 2021-2022, financial_year will be 2122","required":true,"schema":{"type":"string","pattern":"^(0|[1-9][0-9]*)$"},"example":2223}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"UDAPI1067 - The ''segment'' is required<br>UDAPI1066 - The ''segment'' is invalid<br>UDAPI1068 - The start_date is required<br>UDAPI1069 - The end_date is required<br>UDAPI1105 - The provided dates do not fall within the specified financial year","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetProfitAndLossChargesResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/portfolio/short-term-positions":{"get":{"tags":["Portfolio"],"summary":"Get Positions","description":"Fetches the current positions for the user for the current day.","operationId":"getPositions","responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetPositionResponse"}}}},"401":{"description":"Authorization Failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/portfolio/long-term-holdings":{"get":{"tags":["Portfolio"],"summary":"Get Holdings","description":"Fetches the holdings which the user has bought/sold in previous trading sessions.","operationId":"getHoldings","responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetHoldingsResponse"}}}},"401":{"description":"Authorization Failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/order/trades":{"get":{"tags":["Order"],"summary":"Get trades for order","description":"Retrieve the trades executed for an order","operationId":"getTradesByOrder","parameters":[{"name":"order_id","in":"query","description":"The order ID for which the order to get order trades","required":true,"schema":{"type":"string","minLength":1,"pattern":"^[-a-zA-Z0-9]+"},"example":12345667890}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"UDAPI1010 - Order id accepts only alphanumeric characters and '-'.<br>UDAPI1023 - Order id is required<br>UDAPI100010 - Unknown order id | order request rejected","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetTradeResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/order/trades/get-trades-for-day":{"get":{"tags":["Order"],"summary":"Get trades","description":"Retrieve the trades executed for the day","operationId":"getTradeHistory","responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetTradeResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/order/retrieve-all":{"get":{"tags":["Order"],"summary":"Get order book","description":"This API provides the list of orders placed by the user. The orders placed by the user is transient for a day and is cleared by the end of the trading session. This API returns all states of the orders, namely, open, pending, and filled ones.","operationId":"getOrderBook","responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetOrderBookResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/order/history":{"get":{"tags":["Order"],"summary":"Get order history","description":"This API provides the details of the particular order the user has placed. The orders placed by the user is transient for a day and are cleared by the end of the trading session. This API returns all states of the orders, namely, open, pending, and filled ones.\n\nThe order history can be requested either using order_id or tag.\n\nIf both the options are passed, the history of the order which precisely matches both the order_id and tag will be returned in the response.\n\nIf only the tag is passed, the history of all the associated orders which matches the tag will be shared in the response.","operationId":"getOrderDetails","parameters":[{"name":"order_id","in":"query","description":"The order reference ID for which the order history is required","required":false,"schema":{"type":"string","pattern":"^[-a-zA-Z0-9]+"},"example":12345667890},{"name":"tag","in":"query","description":"The unique tag of the order for which the order history is being requested","required":false,"schema":{"type":"string"},"example":"2qdqjppebx"}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"UDAPI1010 - Order id accepts only alphanumeric characters and '-'<br>UDAPI1023 - Order id is required<br>UDAPI100010 - Unknown order id | order request rejected","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetOrderResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/order/details":{"get":{"tags":["Order"],"summary":"Get order details","description":"This API provides the recent detail of the particular order the user has placed. The orders placed by the user is transient for a day and are cleared by the end of the trading session.\\n\\nThe order details can be requested using order_id.\n\n","operationId":"getOrderStatus","parameters":[{"name":"order_id","in":"query","description":"The order reference ID for which the order details is required","required":false,"schema":{"type":"string","pattern":"^[-a-zA-Z0-9]+"},"example":12345667890}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"UDAPI1010 - Order id accepts only alphanumeric characters and '-'<br>UDAPI1023 - Order id is required<br>UDAPI100010 - Unknown order id | order request rejected","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetOrderDetailsResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/option/contract":{"get":{"tags":["Options"],"summary":"Get option contracts","description":"This API provides the functionality to retrieve the option contracts","operationId":"getOptionContracts","parameters":[{"name":"instrument_key","in":"query","description":"Instrument key for an underlying symbol","required":true,"schema":{"type":"string"},"example":"NSE_INDEX|Nifty 50"},{"name":"expiry_date","in":"query","description":"Expiry date in format: YYYY-mm-dd","required":false,"schema":{"type":"string"},"example":"2024-02-01"}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetOptionContractResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/option/chain":{"get":{"tags":["Options"],"summary":"Get option chain","description":"This API provides the functionality to retrieve the option chain","operationId":"getPutCallOptionChain","parameters":[{"name":"instrument_key","in":"query","description":"Instrument key for an underlying symbol","required":true,"schema":{"type":"string"},"example":"NSE_INDEX|Nifty 50"},{"name":"expiry_date","in":"query","description":"Expiry date in format: YYYY-mm-dd","required":true,"schema":{"type":"string"},"example":"2024-02-01"}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetOptionChainResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/news":{"get":{"tags":["News"],"summary":"Get News","description":"Fetches news articles for the given instrument keys, or the user's current positions or holdings.","operationId":"getNews","parameters":[{"name":"category","in":"query","description":"Category of news to fetch. Allowed values: instrument_keys, positions, holdings","required":true,"schema":{"type":"string"},"example":"instrument_keys"},{"name":"instrument_keys","in":"query","description":"Comma-separated list of instrument keys. Required when category is instrument_keys.","required":false,"schema":{"type":"string"},"example":"NSE_EQ|INE002A01018,NSE_EQ|INE669E01016"},{"name":"page_number","in":"query","description":"Page number for pagination","required":false,"schema":{"type":"integer","format":"int32","default":1,"maximum":100,"minimum":1},"example":1},{"name":"page_size","in":"query","description":"Number of records per page","required":false,"schema":{"type":"integer","format":"int32","default":100,"maximum":100,"minimum":1},"example":100}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"UDAPI1189 - Invalid category. Allowed values: instrument_keys, positions, holdings.<br>UDAPI1190 - instrument_keys is required when category is instrument_keys.<br>UDAPI1193 - News can be fetched for a maximum of 30 instrument keys per request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetNewsResponse"}}}},"401":{"description":"Authorization Failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/mf/sips":{"get":{"tags":["Mutual Fund"],"summary":"Get mutual fund SIPs","description":"Returns active and paused SIP orders for the authenticated user.","operationId":"getMutualFundSips","parameters":[{"name":"page_number","in":"query","description":"Page number for pagination.","required":false,"schema":{"type":"integer","format":"int32","default":1},"example":1},{"name":"records","in":"query","description":"no of records in a single page","required":false,"schema":{"type":"integer","format":"int32","default":10},"example":20}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Business error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetMutualFundSipsResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/mf/orders":{"get":{"tags":["Mutual Fund"],"summary":"Get mutual fund orders","description":"Returns mutual fund orders from the last 7 days for the authenticated user.","operationId":"getMutualFundOrders","parameters":[{"name":"status","in":"query","description":"Mutual fund order status","required":false,"schema":{"type":"string","default":"ALL","pattern":"^(ALL|ARCHIVED|NEW|PENDING|OPEN|INPROCESS|COMPLETED|PLACED|REJECTED|CREATED|PAYMENT_PENDING|FAILED|CANCELLED|VERIFIED)$"},"example":"PENDING"},{"name":"transaction_type","in":"query","description":"Mutual fund order transaction type","required":false,"schema":{"type":"string","default":"ALL"},"example":"BUY"},{"name":"page_number","in":"query","description":"Page number for pagination.","required":false,"schema":{"type":"integer","format":"int32","default":1},"example":1},{"name":"records","in":"query","description":"no of records in a single page","required":false,"schema":{"type":"integer","format":"int32","default":10},"example":20}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Business error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetMutualFundOrdersResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/mf/orders/{order_id}":{"get":{"tags":["Mutual Fund"],"summary":"Get mutual fund order by id","description":"Returns a single mutual fund order by order id.","operationId":"getMutualFundOrder","parameters":[{"name":"order_id","in":"path","description":"Mutual fund order id","required":true,"schema":{"type":"string","pattern":"^[-a-zA-Z0-9]+"}}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Business error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetMutualFundOrderDetailsResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/mf/holdings":{"get":{"tags":["Mutual Fund"],"summary":"Get mutual fund holdings","description":"Returns mutual fund holdings for the authenticated user.","operationId":"getMutualFundHoldings","responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"Business error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetMutualFundHoldingsResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/market/timings/{date}":{"get":{"tags":["Market Holidays and Timings"],"summary":"Get Exchange Timings on particular date","description":"This API provides the functionality to retrieve the exchange timings on particular date","operationId":"getExchangeTimings","parameters":[{"name":"date","in":"path","required":true,"schema":{"type":"string","pattern":"^(\\d{4})-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])$"}}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetExchangeTimingResponse"}}}}}}},"/v2/market/status/{exchange}":{"get":{"tags":["Market Holidays and Timings"],"summary":"Get Market status for particular exchange","description":"This API provides the functionality to retrieve the market status for particular exchange","operationId":"getMarketStatus","parameters":[{"name":"exchange","in":"path","required":true,"schema":{"type":"string","pattern":"^(\\s*|(?:NSE|NFO|CDS|BSE|BFO|BCD|MCX|NSCOM)+)$"}}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetMarketStatusResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/market/smartlist/options":{"get":{"tags":["Market Holidays and Timings"],"summary":"Get Smartlist Options","description":"Fetches the smartlist of options for the given asset type and category.","operationId":"getSmartlistOptions","parameters":[{"name":"asset_type","in":"query","description":"Asset type. Allowed values: INDEX, STOCK, COMMODITY","required":false,"schema":{"type":"string"},"example":"INDEX"},{"name":"category","in":"query","description":"Category. Allowed values: TOP_TRADED, MOST_ACTIVE, OI_GAINERS, OI_LOSERS, PRICE_GAINERS, PRICE_LOSERS, IV_GAINERS, IV_LOSERS, UNDER_5000, UNDER_10000 (COMMODITY supports only: TOP_TRADED, MOST_ACTIVE, OI_GAINERS, OI_LOSERS)","required":false,"schema":{"type":"string"},"example":"TOP_TRADED"},{"name":"page_number","in":"query","description":"Page number (optional, 1-indexed)","required":false,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"page_size","in":"query","description":"Page size (optional, max 50)","required":false,"schema":{"type":"integer","format":"int32"},"example":20}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"UDAPI1212 - Invalid asset_type.<br>UDAPI1213 - Invalid category for the given asset_type.<br>UDAPI1214 - Invalid page_size. Maximum allowed value is 50.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsResponse"}}}},"401":{"description":"Authorization Failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/market/smartlist/mtf":{"get":{"tags":["Market Holidays and Timings"],"summary":"Get Smartlist MTF","description":"Fetches the smartlist of MTF (Margin Trade Funding) stocks. Prices are enriched with live LTP data.","operationId":"getSmartlistMtf","parameters":[{"name":"page_number","in":"query","description":"Page number (optional, 1-indexed)","required":false,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"page_size","in":"query","description":"Page size (optional, max 50)","required":false,"schema":{"type":"integer","format":"int32"},"example":20}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"UDAPI1214 - Invalid page_size. Maximum allowed value is 50.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsResponse"}}}},"401":{"description":"Authorization Failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/market/smartlist/futures":{"get":{"tags":["Market Holidays and Timings"],"summary":"Get Smartlist Futures","description":"Fetches the smartlist of futures for the given asset type and category.","operationId":"getSmartlistFutures","parameters":[{"name":"asset_type","in":"query","description":"Asset type. Allowed values: INDEX, STOCK, COMMODITY","required":false,"schema":{"type":"string"},"example":"INDEX"},{"name":"category","in":"query","description":"Category. Allowed values: TOP_TRADED, MOST_ACTIVE, OI_GAINERS, OI_LOSERS, PRICE_GAINERS, PRICE_LOSERS, PREMIUM, DISCOUNT (COMMODITY supports only: TOP_TRADED, MOST_ACTIVE, OI_GAINERS, OI_LOSERS)","required":false,"schema":{"type":"string"},"example":"TOP_TRADED"},{"name":"page_number","in":"query","description":"Page number (optional, 1-indexed)","required":false,"schema":{"type":"integer","format":"int32"},"example":1},{"name":"page_size","in":"query","description":"Page size (optional, max 50)","required":false,"schema":{"type":"integer","format":"int32"},"example":20}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"UDAPI1212 - Invalid asset_type.<br>UDAPI1213 - Invalid category for the given asset_type.<br>UDAPI1214 - Invalid page_size. Maximum allowed value is 50.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsResponse"}}}},"401":{"description":"Authorization Failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/market/pcr":{"get":{"tags":["Market Holidays and Timings"],"summary":"Get PCR Data","description":"Fetches PCR (Put-Call Ratio) data for the given instrument key, expiry, date and bucket interval.","operationId":"getPcrData","parameters":[{"name":"instrument_key","in":"query","description":"Underlying asset instrument key","required":true,"schema":{"type":"string"},"example":"NSE_INDEX|Nifty 50"},{"name":"expiry","in":"query","description":"Expiry date in YYYY-MM-DD format","required":true,"schema":{"type":"string"},"example":"2026-05-19"},{"name":"date","in":"query","description":"Date in YYYY-MM-DD format for which PCR data is required","required":true,"schema":{"type":"string"},"example":"2026-05-06"},{"name":"bucket_interval","in":"query","description":"Bucket interval in minutes for the insights list","required":true,"schema":{"type":"integer","format":"int32"},"example":15}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"UDAPI100011 - Invalid instrument_key.<br>UDAPI1202 - Invalid expiry format.<br>UDAPI1203 - Invalid date format.<br>UDAPI1205 - Invalid bucket_interval.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"423":{"description":"Locked","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"422":{"description":"Unprocessable Entity","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"200":{"description":"Successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AnalyticsResponse"}}}},"401":{"description":"Authorization Failure","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}}},"security":[{"OAUTH2":[]}]}},"/v2/market/oi":{"get":{"tags":["Market Holidays and Timings"],"summary":"Get OI Data","description":"Fetches OI data for the given instrument key, expiry and date.","operationId":"getOiData","parameters":[{"name":"instrument_key","in":"query","description":"Underlying asset instrument key","required":true,"schema":{"type":"string"},"example":"NSE_INDEX|Nifty 50"},{"name":"expiry","in":"query","description":"Expiry date in YYYY-MM-DD format","required":true,"schema":{"type":"string"},"example":"2026-05-19"},{"name":"date","in":"query","description":"Date in YYYY-MM-DD format for which OI data is required","required":true,"schema":{"type":"string"},"example":"2026-05-06"}],"responses":{"405":{"description":"Method Not Allowed","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"400":{"description":"UDAPI100011 - Invalid instrument_key.<br>UDAPI1202 - Invalid expiry format.<br>UDAPI1203 - Invalid date format.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiGatewayErrorResponse"}}}},"403":{"description":"
[...]
